/* RollDice.css File */
.RollDice {
  display: flex;
  flex-direction: column;     /* stack children vertically */
  justify-content: center;    /* vertical centering */
  align-items: center;        /* horizontal centering */
  height: 100vh;              /* full viewport height */
  width: 100vw;               /* full viewport width */
  margin: 0;                  /* no margin */
  padding: 0;                 /* no padding */
  box-sizing: border-box;     /* include padding/borders in size */
}
 

/* Shows each dice in one row */
.RollDice-container {
    display: flex;
    justify-content: center;  /* center dice horizontally */
    align-items: center;      /* center dice vertically */
    gap: 20px;                /* optional spacing between dice */
    margin-top: 1em;          /* optional spacing from top */
}

/* Styling rolldice button */
.RollDice button {
    width: 15em;
    padding: 1.5em;
    border: 0px;
    border-radius: 10px;
    color: white;
    background-color: black;
    margin-top: 3em;
    align-self: center;
}

/* Setting hover effect on button */
.RollDice button:hover {
    cursor: pointer;
    background-color: rgb(34, 33, 33);

}

.RollDice-rolling {
    border: 0px;
    border-radius: 10px;
    background-color: rgb(61, 139, 122) !important;
    opacity: 0.7
}